div#about_part{
    font-family: cursive;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0,0.866);
}

a.mdl-navigation__link {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: black;
}

a.mdlNavigation__link{
    font-family: 'Alegreya', serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: black;
    margin: 15px;
    text-decoration: none;
    font-weight: lighter;
}

a#speicl{
    font-family: 'Metal Mania', cursive;
font-size: 20px;
display: flex;
align-items: center;
color: black;
margin: 15px;
text-decoration: none
}

